.testmonial{
    margin-left: 100px;
}
.testmonial-two{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 100px;
    padding: 20px;
}
.textmonial-left{
    margin-right: 50px;
    background-color: gray;
    padding: 10px;
    box-shadow: 3px 5px 7px 4px white;
    border-radius: 10px;
    cursor: pointer;
}
.textmonial-left-icon{
    height: 30px;
    color: white;
}
.textmonial-right{
 
    background-color: gray;
    padding: 10px;
    box-shadow: 3px 5px 7px 4px white;
    border-radius: 10px;
    cursor: pointer;
}
.testmonial-three{
    display: flex;
    align-items: center;
    gap: 30px;
  margin-top: 15px;
    position: relative;
   overflow: hidden;
}